---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "My AstroJS	 Blog"
---
<!-- Netlify Link: https://blogastrojs.netlify.app/ -->
<BaseLayout pageTitle={pageTitle}>
	<h2>My Awesome Blog!</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>