---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home Page"
---
<!-- Netlify Link: https://blogastrojs.netlify.app/ -->
<BaseLayout pageTitle={pageTitle}>
	<h2>My Awesome Blog!</h2>
</BaseLayout>